<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
  <host>192.168.1.201</host>
  <port>8803</port>
  <use-ssl>false</use-ssl>
  <registered-attendee-id>5</registered-attendee-id>
  <session-cookie>CF99ECF616BFFA8094B6F47E2A0C96684632F7192335EEBC94</session-cookie>
</configuration>
